---
layout: default
---

<!-- Post Header -->
<div class="article-container">
    <div class="post-header-img">
        <div class="article-heading-container">
            <h1 class="article-heading-title">{{ page.title }}</h1>
             <h2 class="subheading">
                {% if page.subtitle %}
                    {{ page.subtitle }}
                {% endif %}
             </h2>
        </div>
        
    </div>
    <div class="article-wrapper">
        <header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
            <div class="container">
                <div class="">
                    <div class="post-heading">
                        
                        
                        <span class="meta">
                            Posted by 
                            {% if page.author %}
                               {{ page.author }}
                            {% else %}
                                Anonymous
                            {% endif %} 
                            on {{ page.date | date: "%B %-d, %Y" }}
                        </span>
                    </div>
                </div>
            </div>
        </header>

        <!-- Post Content -->
        <article>
            <div class="container">

        			{{ content }}

            </div>
        </article>
    </div>
</div>

